<div class="modal-body" >
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>USER DETAILS</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>User</a>
            </li>
            <li class="active">
                <strong>User Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
    <div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" data-ng-init="displayUserDetails()">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group"><label class="col-sm-4 ">First Name</label>
                            <div>{{users.FIRST_NAME}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group"><label class="col-sm-4">Middle Initial</label>
                            <div>{{users.MIDDLE_INITIAL}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-4">Last Name</label>
                            <div>{{users.LAST_NAME}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-4">Specialization</label>
                            <div>{{users.DOCTOR_SPECIALTY_ID}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-4">Address 1</label>
                            <div>{{users.ADDRESS1}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-4">Address 2</label>
                            <div>{{users.ADDRESS2}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-4">Address 2</label>
                            <div>{{users.FREQUENCY}}</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4">
                                <button class="btn btn-white" type="button" ng-click="back()">Back to Doctors List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
</div>
