<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            
            <li class="active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
    
</div>
<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
    
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <!--<div class="ibox-title">
                <button ng-click="addUser('add', null);">Add a New User</button>

                <div ibox-tools></div>
            </div>-->

            <div class="ibox-title" ng-if="main.userType == 'Administrator'">
                <button ng-click="addRecord()">Add a New User</button>
            </div>

            <div class="ibox-content">

                <table class="table table-hover" data-ng-init="displayUsers()">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>USER TYPE</th>
                            <th>USERNAME</th>
                            <th>AREA</th>
                            <th>DATE CREATED</th>
                            <th>STATUS</th>
                            <th>REPORTING ON</th>
                        </tr>                        
                    </thead>
                    <tbody>

                        <tr ng-repeat="user in users">
                            <td>{{user.firstName}} {{user.MiddleName}} {{user.lastName}}</td>
                            <td>{{user.userType}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.areaName}}</td>
                            <td>{{user.dateCreated}}</td>
                            <td>{{user.status}}</td>
                            <td>{{user.parentUser}}</td>
                            <!--<td>
                                <button ng-click="displayModal('details', user.userID);">View Details</button>
                                <button ng-click="displayModal('edit', user.userID);">Edit</button>
                            </td>-->
                            <td ng-if="main.userType == 'Administrator'">
                                <button ng-click="editRecord(user.userID);">Edit Record</button>
                            </td>

                            <td ng-if="main.userType != 'Administrator'">
                                <button ng-click="displayDetails(user.userID);">View Details</button>
                            </td>

                        </tr>

                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
